.page-footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  font-size: 1.3rem;
  padding: 0.5rem var(--page-gutter) ;
  background-color: var(--color-light-grey);

  a {
    color: var(--color-darkest-grey);
  }
}
