.subjects {
  margin-bottom: 20px;

  figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 10px;

    &:nth-child(2n-1) {
      background-color: var(--color-lightest-grey);
    }

    img {
      width: 80px;
      height: 80px;
      margin-right: 20px;
      border-radius: 50%;
    }

    caption {
      font-size: 1.6rem;
    }
  }
} 